// scss variables
$header-footer: #343a40;

// global
html {
  position: relative;
  margin: 0px;
  padding: 0px;
  font-family: assistant, sans-serif;
  background-color: black;

  h2 {
    font-weight: bold;
  }
}

nav {
  img {
    min-width: 25px;
    min-height: 25px;
    max-width: 40px;
    max-height: 40px;
    margin-right: 10px;
  }

  .brand-foxico {
    display: flex;

    .brand-foxico-name {
      a {
        transition: 300ms;
      }

      a:hover {
        color: #ffd523;
      }
    }
  }
}

hr {
  min-width: 50px;
  max-width: 200px;
  border-top: 2px solid #999;
}

label {
  font-weight: bold;
}

footer {
  width: 100%;
  background-color: $header-footer;
  padding: 20px;

  p {
    margin: auto;
    color: rgb(201, 201, 201);
    font: 15px/20px assistant, sans-serif;
    letter-spacing: 1px;

    a {
      text-decoration: none;
      color: #ffd523;
    }
  }

  a:hover {
    text-decoration: none;
  }
}

// class
.jumbotron {
  margin: 0px;
  margin-top: -5px;
  padding: 30px;
  background-image: url(../img/Jumbotron-background.jpg);
  background-size: cover;
  text-shadow: 1px 1px 4px #413b3b;

  img {
    width: 200px;
    height: 200px;
    margin-top: 40px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 7px 5px rgb(139, 139, 139);
  }

  h1 {
    margin-bottom: 30px;
    color: #ededed;
  }

  p {
    margin-bottom: 30px;
    color: #ededed;
  }

  .brand-dean {
    margin-top: -20px;
    img {
      width: 30px;
      height: 30px;
      margin-top: 0px;
      margin-right: 10px;
      box-shadow: none;
    }
  }

  h4 {
    margin-left: 10px;
    color: #ededed;
  }

  .brand-dean {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px;
  }

  .foxico-developer {
    h4 {
      cursor: context-menu;

      span {
        transition: 300ms;
      }

      span:hover {
        color: #ffd523;
      }
    }
  }
}

.core {
  background-image: url(../img/about-background.jpg);
  padding: 60px;

  .core-header {
    margin-top: -25px;
  }

  .core-2 {
    padding: 20px;
    border: 2px solid rgb(75, 75, 75);
    border-radius: 20px;
  }

  .core-list {
    p {
      font: 20px/40px assistant, sans-serif;
      letter-spacing: 1.7px;
      font-weight: 400;
      text-align: justify;
      // text-justify: inter-word;

      span {
        font-weight: bold;
      }
    }
  }
}

.portfolio {
  background-image: url(../img/portfolio2-background.png);
  background-size: cover;
  padding: 50px;

  h2 {
    margin-top: 20px;
    color: #fdfdfd;
    text-shadow: 1px 1px 4px #413b3b;
  }

  hr {
    margin-top: 5px;
    border-top: 2px solid #fdfdfd;
  }
}

.card-luar {
  padding: 15px;

  .card {
    margin-bottom: 20px;
    box-shadow: 3px 5px 10px 3px rgba(53, 45, 45, 0.5);
    padding: 10px;
    min-height: 450px;
    border-radius: 10px;

    img {
      min-height: 200px;
      max-width: 400px;
      max-height: 400px;
      border-radius: 10px;
      transition: 300ms;
      z-index: 0;
    }

    img:hover {
      transform: scale(2, 2);
      z-index: 9999;
    }

    .card-body {
      margin: auto 0px;

      .card-text {
        font-weight: 400;
      }
    }

    .card-header {
      font-weight: bold;
    }
  }
}

.intro-copy {
  padding: 1em;
  margin: 50vh auto;
  max-width: 15em;
  font-family: Helvetica;
  font-weight: lighter;
  font-size: 2em;
  line-height: 1.2;
  text-align: center;
}

.top-link {
  transition: all 0.25s ease-in-out;
  position: fixed;
  bottom: 0;
  right: 0;
  display: inline-flex;

  cursor: pointer;
  align-items: center;
  justify-content: center;
  margin: 0 3em 3em 0;
  border-radius: 50%;
  padding: 0.25em;
  width: 80px;
  height: 80px;
  background-color: #185adb;

  &.show {
    visibility: visible;
    opacity: 1;
  }

  &.hide {
    visibility: hidden;
    opacity: 0;
  }

  svg {
    fill: #000;
    width: 24px;
    height: 12px;
  }

  &:hover {
    background-color: #e8e8e8;

    svg {
      fill: #000000;
    }
  }
}

// Text meant only for screen readers.
.screen-reader-text {
  position: absolute;
  clip-path: inset(50%);
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  word-wrap: normal !important;
  clip: rect(1px, 1px, 1px, 1px);

  &:focus {
    display: block;
    top: 5px;
    left: 5px;
    z-index: 100000; // Above WP toolbar
    clip-path: none;
    background-color: #eee;
    padding: 15px 23px 14px;
    width: auto;
    height: auto;
    text-decoration: none;
    line-height: normal;
    color: #444;
    font-size: 1em;
    clip: auto !important;
  }
}

// small-version-design
@media (max-width: 1200px) {
  footer {
    width: 100%;

    p {
      margin: auto;
      color: rgb(201, 201, 201);
      font: 12px/20px assistant, sans-serif;
      letter-spacing: 1px;

      a {
        text-decoration: none;
        color: #ffd523;
      }
    }

    a:hover {
      text-decoration: none;
    }
  }

  .core {
    background-image: url(../img/about-background.jpg);
    padding: 60px;

    .core-1 {
      margin-bottom: 40px;
    }

    .core-list {
      p {
        font: 14px/30px assistant, sans-serif;
        letter-spacing: 1.7px;
        font-weight: 400;
        text-align: justify;
        // text-justify: inter-word;

        span {
          font-weight: bold;
        }
      }
    }
  }

  .card {
    img {
      margin: 0px auto;
      min-height: 200px;
      max-width: 400px;
      max-height: 400px;
      border-radius: 10px;
      transition: 300ms;
      z-index: 0;
    }

    img:hover {
      transform: scale(1, 1);
      z-index: 0;
    }
  }

  .top-link {
    width: 60px;
    height: 60px;
  }

  .kurang-margin {
    margin-top: 0px;
  }
}

// animation
@keyframes card-image {
  0% {
    transform: scale(1, 1);
  }

  100% {
    transform: scale(2, 2);
  }
}
