* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

[class*="col-"] {
  float: left;
  padding: 15px;
  width: 100%;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.col-0 {
  width: 0;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

body {
  font-family: "Inter", sans-serif;
  padding: 15px;
  background-color: #23252c;
}

body .container {
  background-color: #1a1b21;
  border-radius: 30px;
  padding: 10px;
}

body .topnav {
  overflow: hidden;
  background-color: #161619;
  border-radius: 30px;
  padding: 0 30px;
}

body .topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
  border: 2px solid #161619;
}

body .topnav a:not(:first-child):hover {
  border-bottom: 2px solid orange;
}

body .topnav a:first-child:hover {
  color: orange;
}

body .topnav a.active {
  font-weight: 700;
}

body .topnav .icon {
  display: none;
  background-color: #161619;
}

body .contact {
  padding: 20px 0;
  margin: 190px 0;
}

body .contact h1 {
  font-family: "Inter", sans-serif;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  padding: 10px;
  color: #fff;
}

body .contact h2 {
  font-family: "Inter", sans-serif;
  text-align: center;
  color: #f3bf99;
  font-size: 20px;
  font-weight: 600;
  padding: 10px;
}

body .contact h3 {
  font-family: "Inter", sans-serif;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  padding: 10px;
  color: #f5f5f5;
}

body .contact .btn {
  text-align: center;
}

body .contact .btn a {
  text-decoration: none;
  color: #f5f5f5;
}

body .contact .btn button {
  min-width: 130px;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  text-align: center;
  font-size: 14px;
  opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

body .contact .btn button:hover {
  opacity: 0.6;
}

body .contact .btn .email {
  background-color: #f4511e;
}

body .contact .btn .linked {
  background-color: #5093e2;
}

body .intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
}

body .intro .diri {
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

body .intro .diri h1 {
  font-size: 26px;
  color: #f5f5f5;
  margin-bottom: 10px;
}

body .intro .diri h3 {
  font-size: 18px;
  color: #f5f5f5;
}

body .intro .img {
  text-align: center;
}

body .intro .img img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

body .divider {
  margin-top: 100px;
}

body .divider h1 {
  font-size: 24px;
  text-align: center;
  color: #f5f5f5;
}

body .card {
  padding: 0;
  overflow: auto;
  white-space: nowrap;
  text-align: center;
}

body .card .card-list {
  display: inline-block;
  -ms-flex-line-pack: center;
      align-content: center;
}

body .card .card-list img {
  width: 300px;
  height: 250px;
  border-radius: 15px;
  -webkit-animation: border 2s linear infinite alternate;
          animation: border 2s linear infinite alternate;
}

body .card .card-list .card-info {
  display: table;
  width: 300px;
  white-space: normal;
  text-align: start;
}

body .card .card-list .card-info p {
  margin: 10px 0;
  font-size: 14px;
  color: #f5f5f5;
}

body .card .card-list .card-info .rating .star {
  color: #fe395c;
}

body .card .card-list .card-info .date span {
  font-weight: 700;
}

body .card .card-list:not(:last-child) {
  padding-right: 30px;
}

body .card::-webkit-scrollbar {
  display: none;
}

body .card-web {
  text-align: center;
}

body .card-web img {
  width: 300px;
  height: 250px;
  border: 5px solid red;
  border-radius: 15px;
  -webkit-animation: border 2s linear infinite alternate;
          animation: border 2s linear infinite alternate;
}

body .card-web .card-info {
  text-align: center;
  color: #f5f5f5;
  margin: 10px 0;
}

body .card-web .card-info p {
  margin: 5px 0;
}

body .card-web .card-info .rating .star {
  color: #fe395c;
}

body .card-web .card-info .date span {
  font-weight: 700;
}

body .project-web span::before {
  color: #fe395c;
  content: "< ";
  z-index: -9999;
}

body .project-web span::after {
  color: #fe395c;
  content: " />";
  z-index: -9999;
}

@media only screen and (max-width: 1200px) {
  .col-s-0 {
    width: 0;
  }
  .col-s-1 {
    width: 8.33%;
  }
  .col-s-2 {
    width: 16.66%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33%;
  }
  .col-s-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33%;
  }
  .col-s-8 {
    width: 66.66%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33%;
  }
  .col-s-11 {
    width: 91.66%;
  }
  .col-s-12 {
    width: 100%;
  }
  body .topnav {
    padding: 0;
  }
  body .topnav a {
    font-size: 18px;
  }
  body .topnav a:hover {
    background-color: #f2f2f2;
    color: #1a1b21;
    border: 2px solid #161619;
  }
  body .topnav a:not(:first-child) {
    display: none;
  }
  body .topnav a.icon {
    float: right;
    display: block;
  }
  body .topnav.responsive {
    position: relative;
  }
  body .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  body .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  body .contact {
    margin: 100px 0;
  }
  body .contact h1 {
    font-size: 20px;
  }
  body .contact h2 {
    font-size: 18px;
  }
  body .contact h3 {
    font-size: 16px;
  }
  body .contact .btn button {
    font-size: 14px;
  }
  body .intro {
    display: block;
    margin-top: 0;
  }
  body .intro .diri {
    text-align: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  body .intro .diri h1 {
    font-size: 20px;
    color: #f5f5f5;
  }
  body .intro .diri h3 {
    margin-top: 10px;
    font-size: 16px;
    color: #f5f5f5;
  }
  body .intro .img {
    text-align: center;
  }
  body .intro .img img {
    width: 170px;
    height: 170px;
    border-radius: 50%;
  }
  body .divider h1 {
    font-size: 20px;
  }
  body .card {
    padding: 0;
    overflow: auto;
    white-space: nowrap;
    text-align: center;
  }
  body .card .card-list {
    display: inline-block;
    -ms-flex-line-pack: center;
        align-content: center;
    padding: 0;
  }
  body .card .card-list img {
    width: 200px;
    height: 150px;
  }
  body .card .card-list .card-info {
    display: table;
    width: 200px;
    white-space: normal;
    text-align: start;
  }
  body .card .card-list .card-info p {
    margin: 10px 0;
    font-size: 14px;
    color: #f5f5f5;
  }
  body .card .card-list .card-info .rating .star {
    color: #fe395c;
  }
  body .card .card-list .card-info .date span {
    font-weight: 700;
  }
  body .card::-webkit-scrollbar {
    display: none;
  }
}

@-webkit-keyframes border {
  from {
    border: 5px solid #0c0c0e;
  }
  to {
    border: 5px solid #34363f;
  }
}

@keyframes border {
  from {
    border: 5px solid #0c0c0e;
  }
  to {
    border: 5px solid #34363f;
  }
}
/*# sourceMappingURL=style.css.map */