/* SCSS Variable*/
$universal: #ededed;
$purple1: #1c0c5b;
$purple2: #2c2891;
$orange1: #c36a2d;
$orange2: #ff8243;
$orange3: #ff935d;
// font: 18px "Fredoka One", cursive;
// font-family: 'Balsamiq Sans', cursive;
// font-family: 'Fredoka One', cursive;
// font-family: 'Monoton', cursive;
// font-family: 'Roboto', sans-serif;
// font-family: 'Roboto Mono', monospace;

// bagian class togerther h1nya masih tidak bisa di fix transitionnya

/* For mobile phones: */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

[class*="col-"] {
  width: 100%;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  background-image: linear-gradient(to right, #1c0c5b, #2c2891);
  letter-spacing: 1px;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  a,
  label,
  input:not([type="radio"]),
  select,
  p,
  h6,
  code,
  li {
    line-height: 24px;
    color: $universal;
    letter-spacing: 1.2px;
  }
  .disable {
    display: none;
  }
}

.container {
  margin: 15px;
  padding: 10px;
  border-radius: 30px;
  animation: container 5s linear infinite alternate;
  word-wrap: break-word;
  box-shadow: 0px 0 20px 2px rgba(0, 0, 0, 0.336);

  hr {
    margin: 0 auto;
    margin-top: 20px;
    width: 30%;
  }

  // W3School hamburger menu

  .topnav {
    overflow: hidden;
    animation: container 5s linear infinite alternate-reverse;
    border-radius: 20px;

    img {
      margin-top: 2px;
      transition: 700ms;
      max-width: 30px;
      max-height: auto;
      animation: opacity 1s ease-in-out;
    }

    a {
      float: left;
      display: block;
      color: $universal;
      text-align: center;
      padding: 14px 14px;
      text-decoration: none;
      font: 18px "Roboto", sans-serif;
      font-weight: lighter;
      transition: 1s;
      animation: opacity 1s ease-in-out;
    }

    h3 {
      font: 18px "Roboto", sans-serif;
    }

    a.active {
      background-color: #04aa6d;
      color: $universal;
    }

    .icon {
      display: none;
    }

    a:not(:first-child) {
      display: none;
    }

    a.icon {
      margin-top: 4px;
      float: right;
      display: block;
    }

    .title-screen {
      display: none;
    }
  }

  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
    color: $universal;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .title {
    display: inline-block;
    position: absolute;
    top: 45px;
    left: 40%;
    width: 50%;
    margin-left: -15%;
    animation: opacity 1s ease-in-out;

    h1 {
      font: 20px "Roboto", sans-serif;
      font-weight: 500;
      text-align: center;
    }

    h1:hover {
      color: $orange1;
    }
  }

  .hr1 {
    margin-top: 20px;
  }

  .intro {
    margin-top: 70px;

    h1 {
      cursor: pointer;
      text-align: center;
      font: 32px "Roboto", sans-serif;
      font-weight: 500;
      transition: 300ms;
      animation: intro 5s linear infinite alternate;
      animation: intro2 4s ease-in-out infinite alternate;
    }

    h1:hover {
      color: $orange1;
    }

    h3 {
      animation: opacity 600ms linear infinite alternate;
      cursor: pointer;
      margin-top: 20px;
      text-align: center;
      font: 18px "Roboto Mono", monospace;
      color: $orange3;
    }

    .img1,
    .img2 {
      display: none;
    }
  }

  .cursor {
    display: flex;
    margin-top: 40px;
    cursor: context-menu;
    justify-content: center;

    h3 {
      margin-bottom: 10px;
      text-align: center;
      font: 16px "Roboto Mono", monospace;
    }

    h3.scroll {
      display: none;
      animation: opacity 300ms linear infinite alternate;
      color: $orange2;
    }

    h3.satu {
      animation: opacity 300ms linear 100ms infinite alternate;
      color: $orange1;
    }

    h3.dua {
      color: $orange2;
      animation: opacity 300ms linear 200ms infinite alternate;
    }

    h3.tiga {
      color: $orange3;
      animation: opacity 300ms linear 300ms infinite alternate;
    }
  }

  .diri {
    margin-top: 70px;

    .row {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      max-width: 250px;
      margin: 0 auto;

      .diri1 {
        display: none;
        text-align: center;
      }

      .diri2 {
        text-align: center;
      }

      .diri1,
      .diri2 {
        h1 {
          cursor: pointer;
          text-align: center;
          font: 22px "Roboto", sans-serif;
          font-weight: 500;
          transition: 300ms;
        }

        h1:hover {
          color: $orange1;
        }

        h3 {
          cursor: pointer;
          margin-top: 20px;
          font: 18px "Roboto Mono", monospace;
          color: $orange3;
          font-style: italic;
        }
      }

      .img {
        text-align: center;

        img {
          cursor: pointer;
          max-width: 100%;
          height: auto;
          border-radius: 50%;
          animation: border 2s linear infinite alternate;
        }

        img:hover {
          transform: scale(1.25);
        }
      }
    }
  }

  .univ {
    margin-top: 70px;
    position: relative;

    .row {
      max-width: 350px;
      margin: 0 auto;

      a {
        text-decoration: none;
      }

      .img {
        text-align: center;

        img {
          margin-top: 20px;
          position: relative;
          z-index: 9999;
          max-width: 100%;
          height: auto;
          border: 5px solid $purple2;
          border-radius: 10px;
          animation: border 2s linear infinite alternate;
          transition: 300ms;
        }

        img:hover {
          transform: scale(1.25);
        }
      }

      .profile {
        text-align: center;

        h1 {
          cursor: pointer;
          text-align: center;
          font: 22px "Roboto", sans-serif;
          font-weight: 500;
          transition: 300ms;
        }

        h1:hover {
          color: $orange1;
        }

        h3 {
          cursor: pointer;
          margin-top: 20px;
          text-align: center;
          font: 18px "Roboto Mono", monospace;
          color: $orange3;
          font-style: italic;
        }
      }
    }
  }

  .portfolio {
    margin-top: 100px;

    .portfolio-1 {
      h1 {
        cursor: pointer;
        text-align: center;
        font: 24px "Roboto", sans-serif;
        transition: 300ms;
      }

      h1:hover {
        color: $orange1;
      }

      h1#disabled {
        font-size: 10px;
        opacity: 0;
      }
    }

    .portfolio-2,
    .portfolio-3,
    .portfolio-4 {
      display: flex;
      flex-wrap: wrap;
      margin-top: 10px;
      max-width: 350px;
      margin: 0 auto;
      height: auto;

      .project-tile {
        position: relative;
        border-radius: 20px;
        margin: 20px auto;
        text-align: center;
        max-width: 100%;
        height: auto;

        a {
          text-decoration: none;
        }

        img {
          position: relative;
          max-width: 100%;
          height: auto;
          border: 5px solid $purple2;
          border-radius: 10px;
          transition: 300ms;
          animation: border 2s linear infinite alternate;
          z-index: 9999;
        }

        img:hover {
          transform: scale(1.5);
        }

        h3 {
          display: block;
          margin-top: 20px;
          text-align: center;
          font: 18px "Roboto Mono", monospace;
          color: $orange3;
        }

        h3::before {
          color: $universal;
          content: "< ";
          animation: opacity 1s linear infinite alternate;
          z-index: -9999;
        }

        h3::after {
          color: $universal;
          content: " />";
          animation: opacity 1s linear infinite alternate;
          z-index: -9999;
        }
      }
    }

    .different {
      display: none;
      text-align: center;

      h3 {
        font: 18px "Roboto Mono", monospace;
        color: $orange1;
        font-style: italic;
      }
    }

    .all {
      display: none;
      text-align: center;

      button {
        cursor: pointer;
        background-image: linear-gradient(to right, #e26a2c, #ff8243);
        border-radius: 5px;
        margin-top: 20px;
        height: auto;
        min-height: 40px;
        width: 80%;
        max-width: 120px;
        font: 14px "Roboto", sans-serif;
        color: $universal;
        text-shadow: 1px 1px 2px #3f3f3f;
        outline: none;
        letter-spacing: 1.2px;
        transition: 300ms;
      }

      button:hover {
        background-image: linear-gradient(to right, #dd5612, #c94705);
      }

      button:focus {
        outline: none;
      }
    }
  }

  .together {
    margin-top: 70px;

    h1 {
      cursor: pointer;
      text-align: center;
      font: 24px "Roboto", sans-serif;
      font-weight: 500;
      transition: 300ms;
    }

    h1:hover {
      color: $orange1;
    }

    h3 {
      cursor: pointer;
      margin-top: 20px;
      text-align: center;
      font: 18px "Roboto Mono", monospace;
      color: $orange3;
      font-style: italic;
    }
  }

  .social {
    margin-bottom: 80px;

    h3 {
      cursor: pointer;
      margin-top: 20px;
      text-align: center;
      font: 18px "Roboto Mono", monospace;
      color: $universal;
      font-style: italic;

      a {
        text-decoration: none;
        transition: 300ms;
      }
    }

    a:hover {
      color: $orange1;
    }
  }
}

@media only screen and (min-width: 768px) {
  /* For tablets: */
  .col-s-0 {
    width: 0;
  }
  .col-s-1 {
    width: 8.33%;
  }
  .col-s-2 {
    width: 16.66%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33%;
  }
  .col-s-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33%;
  }
  .col-s-8 {
    width: 66.66%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33%;
  }
  .col-s-11 {
    width: 91.66%;
  }
  .col-s-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 1200px) {
  /* For desktop: */
  .col-0 {
    width: 0;
  }
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }

  .container {
    .topnav {
      margin: 0 50px;
      animation: opacity 1s ease-in-out;

      a {
        cursor: pointer;
        float: right;
        padding-right: 2px;
        padding-left: 2px;
        padding-bottom: 4px;
        font-size: 20px;
      }

      h3 {
        transition: 300ms;
        padding-bottom: 4px;
        font: 18px "Roboto", sans-serif;
        border-bottom: 2px solid #ff824300;
      }

      h3:hover {
        border-bottom: 2px solid #ff8243;
      }

      a:not(.last) {
        margin-right: 70px;
      }

      a.img {
        float: left;

        img {
          margin-top: -3px;
        }

        .title-screen {
          display: inline-block;
          position: absolute;
          top: 38px;
          left: 130px;
          width: 15%;

          h1 {
            font: 22px "Roboto", sans-serif;
            font-weight: 500;
            text-align: start;
            transition: 300ms;
          }

          h1:hover {
            color: $orange1;
          }
        }
      }
    }

    .topnav .icon {
      display: inline-block;
    }

    .topnav a:not(:first-child) {
      display: inline-block;
    }

    .topnav a.icon {
      float: right;
      display: none;
    }

    .title {
      display: none;
    }

    .hr1 {
      display: none;
    }

    .intro {
      margin-top: 70px;
      height: 520px;
      display: flex;
      align-items: center;

      .img1,
      .img2 {
        cursor: pointer;
        display: flex;
        justify-content: center;
        margin-bottom: 50px;

        img {
          width: 30%;
          height: auto;
          max-width: 100px;
        }
      }

      .img1 {
        img {
          animation: intro3 4s ease-in-out infinite alternate;
        }
      }

      .img2 {
        transform: rotate(180deg);

        img {
          animation: intro4 4s ease-in-out infinite alternate;
        }
      }

      h1 {
        font: 70px "Roboto", sans-serif;
      }

      h3 {
        margin-top: 20px;
        text-align: center;
        font: 26px "Roboto Mono", monospace;
        color: $orange3;
      }
    }

    .cursor {
      margin-top: -70px;

      h3.scroll {
        display: block;
      }
    }

    .diri {
      margin-top: 100px;

      .row {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        max-width: 100%;
        margin: 0 auto;

        .img {
          img {
            max-width: 50%;
            height: auto;
            border-radius: 50%;
          }
        }

        .diri1 {
          display: inline-block;

          h1 {
            text-align: center;
          }
        }

        .diri2 {
          display: none;
          text-align: center;
        }

        .diri1,
        .diri2 {
          h1 {
            font: 30px "Roboto", sans-serif;
          }

          h3 {
            font: 20px "Roboto Mono", monospace;
          }
        }
      }
    }

    .univ {
      margin-top: 100px;

      .row {
        display: flex;
        max-width: 100%;
        align-items: center;
        justify-content: center;

        .img {
          img {
            max-width: 80%;
          }
        }

        .profile {
          h1 {
            font: 30px "Roboto", sans-serif;
          }

          h3 {
            font: 20px "Roboto Mono", monospace;
            font-style: italic;
          }
        }
      }
    }

    .portfolio {
      margin-top: 100px;

      .portfolio-1 {
        h1 {
          text-align: center;
          font: 24px "Roboto", sans-serif;
        }
      }

      .portfolio-2,
      .portfolio-3,
      .portfolio-4 {
        cursor: pointer;
        margin-top: 10px;
        margin: auto;
        display: flex;
        max-width: 100%;
        height: auto;

        .project-tile {
          img {
            max-width: 100%;
            height: auto;
          }

          h3 {
            font: 18px "Roboto Mono", monospace;
          }
        }
      }
    }

    .together {
      margin-top: 100px;

      h1 {
        font: 24px "Roboto", sans-serif;
      }

      h1:hover {
        transition: color 300ms;
        color: $orange1;
      }

      h3 {
        cursor: pointer;
        margin-top: 20px;
        text-align: center;
        font: 18px "Roboto Mono", monospace;
        color: $orange3;
        font-style: italic;
      }
    }

    .social {
      margin-bottom: 100px;

      a {
        text-decoration: none;

        h3 {
          cursor: pointer;
          margin-top: 20px;
          text-align: center;
          font: 18px "Roboto Mono", monospace;
          color: $universal;
          font-style: italic;
          transition: 300ms;
        }

        h3:hover {
          color: $orange1;
        }
      }
    }
  }
}

@keyframes container {
  0% {
    background-color: $purple1;
  }

  100% {
    background-color: $purple2;
  }
}

@keyframes navbar {
  from {
    border-bottom: none;
  }

  to {
    border-bottom: 2px solid $orange3;
  }
}

@keyframes opacity {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

@keyframes border {
  from {
    border: 5px solid $purple2;
  }

  to {
    border: 5px solid $purple1;
  }
}

@keyframes intro {
  from {
    color: $universal;
  }

  to {
    color: #777777;
  }
}

@keyframes intro2 {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(0.9);
  }
}

@keyframes intro3 {
  0% {
    transform: translateX(0px);
    filter: saturate(0);
  }

  100% {
    transform: translateX(50px);
    filter: saturate(1);
  }
}

@keyframes intro4 {
  0% {
    transform: translateX(0px);
    filter: saturate(0);
  }

  100% {
    transform: translateX(50px);
    filter: saturate(1);
  }
}
