/* For mobile phones: */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

[class*="col-"] {
  width: 100%;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  background-color: #113cfc;
  letter-spacing: 1px;

  p,
  h6 {
    line-height: 24px;
  }
}

.container {
  margin: 30px;
  padding: 30px;
  background-color: #193498;
  border-radius: 30px;
}

.header {
  color: #faeee0;

  h1 {
    font: 26px "Monoton", cursive;
    text-align: center;
    text-shadow: 1px 1px 5px #212121;
    transition: 300ms;
  }

  h1:hover {
    color: #ffd07f;
  }

  h6 {
    margin-top: 20px;
    font: 12px "Balsamiq Sans", cursive;
    font-style: italic;
    text-align: center;
    transition: 300ms;
  }

  h6:hover {
    color: #c36a2d;
  }

  hr {
    margin: 0 auto;
    margin-top: 20px;
    max-width: 600px;
    transition: 300ms;
  }

  hr:hover {
    color: #ffd07f;
  }
}

.jumbotron {
  img {
    display: block;
    margin: 0 auto;
    border-radius: 50px;
    max-height: 400px;
    padding: 20px;
    transition: 300ms;
  }

  img:hover {
    transform: rotate(5deg);
  }

  h6 {
    margin-top: 10px;
    color: #faeee0;
    font: 10px "Balsamiq Sans", cursive;
    font-style: italic;
    text-align: center;
    transition: 300ms;
  }

  h6:hover {
    color: #ffd07f;
  }
}

.time-line {
  margin-top: 15px;
  border-radius: 20px 20px 0 0;
  text-align: center;

  a {
    color: #faeee0;
    text-decoration: none;
    font: 10px "Balsamiq Sans", cursive;
    transition: 300ms;
  }

  a:hover {
    color: #ffd07f;
  }
}

.time-line2 {
  margin: 0 auto;
  padding: 0 40px 0 40px;
  background-color: #213aa7;
  border-radius: 30px;

  li {
    margin-top: 15px;
    color: #faeee0;
    font: 10px "Balsamiq Sans", cursive;
    transition: 300ms;
  }

  li:hover {
    color: #f06305;
  }

  ul.neat li {
    margin-left: 20px;
  }

  ul.neat li:hover {
    color: #ffd07f;
  }
}

.footer {
  margin-top: 30px;
  text-align: center;

  p {
    color: #ffd07f;
    transition: 300ms;
    font: 10px "Roboto", sans-serif;
  }

  p:hover {
    color: #f06305;
  }
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {
    width: 8.33%;
  }
  .col-s-2 {
    width: 16.66%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33%;
  }
  .col-s-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33%;
  }
  .col-s-8 {
    width: 66.66%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33%;
  }
  .col-s-11 {
    width: 91.66%;
  }
  .col-s-12 {
    width: 100%;
  }

  .header {
    h1 {
      font-size: 34px;
    }

    h6 {
      font-size: 14px;
    }
  }

  .jumbotron {
    h6 {
      font: 12px "Balsamiq Sans", cursive;
      font-style: italic;
    }
  }

  .time-line {
    a {
      font: 12px "Balsamiq Sans", cursive;
    }
  }

  .time-line2 {
    li {
      margin-top: 30px;
      color: #faeee0;
      font: 12px "Balsamiq Sans", cursive;
    }
  }

  .footer {
    p {
      font: 12px "Roboto", sans-serif;
    }
  }
}

@media only screen and (min-width: 768px) {
  /* For desktop: */

  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }

  .header {
    h1 {
      font-size: 44px;
    }

    h6 {
      font-size: 16px;
    }
  }

  .jumbotron {
    h6 {
      font: 14px "Balsamiq Sans", cursive;
      font-style: italic;
    }
  }

  .time-line {
    a {
      font: 14px "Balsamiq Sans", cursive;
    }
  }

  .time-line2 {
    li {
      color: #faeee0;
      font: 14px "Balsamiq Sans", cursive;
    }
  }

  .footer {
    p {
      font: 14px "Roboto", sans-serif;
    }
  }
}
